.product-card {
  padding: 2rem;
  text-align: center;
  margin: 2rem;
  width: 500px;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  border-radius: 10px;
}

.green {
  color: green;
}

.pointer {
  cursor: pointer;
}

.box{
  width: 650px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  color: black;
  font-family: 'Century Gothic',sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background: url(cats.jpg) no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}